###################################################################
# GENERAL
###################################################################

##### DATABASE #####
DATABASE_USERNAME=Postgres_User
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432

##### TEST DB #####
TEST_DATABASE_USERNAME=testing
TEST_DATABASE_PASSWORD=testing
TEST_DATABASE_HOST=localhost
TEST_DATABASE_PORT=5435

##### PGADMIN #####
PGADMIN_EMAIL=email@email.com
PGADMIN_PASSWORD=password


###################################################################
# SERVICES
###################################################################

##### API SERVICE #####
API_SERVICE_HOST=localhost
API_SERVICE_PORT=8000

##### ACCOUNT SERVICE #####
ACCOUNT_SERVICE_HOST=localhost
ACCOUNT_SERVICE_PORT=50050
ACCOUNT_SERVICE_MAX_WORKERS=20
