###################################################################
# GENERAL
###################################################################

##### DATABASE #####
DATABASE_USERNAME=Postgres_User
DATABASE_PASSWORD=password
DATABASE_HOST=db
DATABASE_PORT=5432

##### PGADMIN #####
PGADMIN_EMAIL=email@email.com
PGADMIN_PASSWORD=password


###################################################################
# SERVICES
###################################################################

##### ACCOUNT SERVICE #####
ACCOUNT_SERVICE_HOST=localhost
ACCOUNT_SERVICE_PORT=50050
ACCOUNT_SERVICE_MAX_WORKERS=20
